@font-face {
    font-family: "Roboto", sans-serif;
    src: url(./Roboto/Roboto-VariableFont_wdth\,wght.ttf);
    src: url(./Roboto/Roboto-Italic-VariableFont_wdth\,wght.ttf);
}

@font-face {
    font-family: "Barriecito", sans-serif;
    src: url(./Barriecito/Barriecito-Regular.ttf);
}